# 这是一个环境变量模板文件
# 使用方法：
# 1. 复制此文件并重命名为 .env
# 2. 在 .env 文件中填入真实的密钥
# 3. 确保 .env 文件在 .gitignore 中（已被忽略，不会上传到 GitHub）

ALIYUN_AK_CN=你的国内AccessID
ALIYUN_SK_CN=你的国内AccessKey
ALIYUN_AK_OVERSEAS=你的海外AccessID
ALIYUN_SK_OVERSEAS=你的海外AccessKey




# 1. 设置你的用户名 (建议用英文)
git config --global user.name "yukhyohwa"

# 2. 设置你的邮箱 (建议用你注册 GitHub 的邮箱)
git config --global user.email "shawnlu91@gmail.com"